<header>
    <h2> &rarr; Quick delivery</h2>
</header>

<body id="body">
  <p>Quick delivery is a mobile app developed  using Angular and Bootstrap. It contains  home , order,
    checkout and settings pages. And it demonstrates our knowledge acquired in the mobile application programming course during this current
    semester</p>

  <div> <h4>Developers’s information</h4></div>
  <div style="text-align: center;"><img [src]='myimage4' alt="img4" class= "img4" style="height: 180px; width: 200px;"></div>
      <div class="card bg-light mb-3" style="max-width: 22rem;">
        <div class="card-header" id="card4">Yuxiao Wang </div>
        <div class="card-body">
          <h5 class="card-title">Home Page</h5>
          <p class="card-text">Home Page, Front-end developer, ITID Student at 3rd Year</p>
        </div>
      </div>
  <div style="text-align: center;"><img [src]='myimage1' alt="img1" class="w3-hover-grayscale" style="height: 150px; width: 200px;"></div>
    <div class="card bg-light mb-3"  style="max-width: 22rem;">
        <div class="card-header" id="card1">Sung Ho Park </div>
        <div class="card-body">
          <h5 class="card-title">Order Page & DAL</h5>
          <p class="card-text"style="margin-botton: 2px; padding:2px"> Order page & DAL, Back-end developer, Computer Programmer Student at 2st Year</p>
        </div>
      </div>
      <div style="text-align: center;"><img [src]='myimage3' alt="img3" class= "img3" style="height: 180px; width: 200px;"></div>
      <div class="card bg-light mb-3" style="max-width: 22rem;">
        <div class="card-header" id="card3">Mariana Mozzer Arantes</div>
        <div class="card-body">
          <h5 class="card-title">Checkout Page</h5>
          <p class="card-text">Checkout Page, Computer Programmer Student at 2st Year</p>
        </div>
      </div>
      <div style="text-align: center;"><img [src]='myimage2' alt="img2" class= "img2" style="height: 180px; width: 200px;"></div>
      <div class="card bg-light mb-3" style="max-width: 22rem;">
        <div class="card-header" id="card2">Maria Oliveira </div>
        <div class="card-body">
          <h5 class="card-title">Settings Page</h5>
          <p class="card-text">Settings Page developer, Computer programming student at 2st Year at Conestoga College</p>
        </div>
      </div>


</body>
<footer class="bg-light text-center">
    <div class="text-center p-3" style="background-color: whitesmoke">
      © 2022 Mobile Application
    </div>
    <!-- Copyright -->
  </footer>

